body {
  background-color: white;
  background-image: url('images/apple.png');
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  text-align: center;
  font-size: 45px;
  color: green;
  margin-bottom: 50px;
}

.imgageContainer {
  margin-bottom: 550px;
  display: block;
  position: relative;
  opacity: .2;
  background-image: url('css/images/apple.png');

}




.clockText {
  font-size: 40px;
}

.button{
  margin-bottom: 50px;
}

.row {
  text-align: center;
}
