<!DOCTYPE html>
<html ng-app="pomoD">
<head>
-->  <title>Pomodorinho</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/mystyles.css" type="text/css">
</head>
<body>

<h1 class="header">Pomodorinho</h1>

    <div ng-controller="TimerController">
      <div class="row clockText">
        Break Length:
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="decrementBreak(1)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        {{breakLength}}
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addToBreak(1)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <br>

        Session Length:
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="decrementSession()">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        {{sessionLength}}
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addToSession()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
        </button>
      </div>
      <div class="row imageContainer">
<!--         <div class="imageContainer col-md-12 col-sm-9 col-sm-offset-2 col-xs-9 col-xs-offset-2" style="background:url('css/images/apple.png'); background-size: cover;">
 -->
          <span class="clockText" ng-show="pomoTimer">Session: <br>
            {{remainingSessionLength}}:{{seconds}}</span> <br><br>
            <span class="clockText" ng-show="break">Break: <br>
              {{remainingBreakLength}}:{{breakSeconds}}</span> <br><br>
        <!-- </div> -->
          <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-primary center-block" ng-click="timer()">Start Timer!</button>
          <button class="btn btn-primary center-block" ng-click="resetTimer()">Reset Timer!</button>
          </div>
      </div>
    </div>


<script src="bower_components/angular/angular.js"></script>
<script src="controllers/TimerController.js" type="text/javascript"></script>

</body>
